{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href = "{% static '/todo/styles.css' %}">
    <style>
        body { 
            text-align: center; 
        } 
        </style>
    <title>Book List</title>
</head>
<body >
    <h1 class = "color">Book List</h1>
    <form action="{% url 'add_task' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" required>
        <button type="submit">Add Book</button>
    </form>
    <ul>
        {% for item in data%}
            {% if item.completed %}
        <li class = "completed">{{item.title}}<a href = "{% url 'delete_task' item.id %}">[DELETE]</a>
            <a href = "{% url 'edit_task' item.id %}" >[GREEN]</a>
        </li>
            {% else %}
            <li class = "inprogress">{{item.title}}<a href = "{% url 'delete_task' item.id %}">[DELETE]</a>
                <a href = "{% url 'edit_task' item.id %}" >[GREEN]</a>
            </li>            
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>